pkgbase = newscraper
	pkgdesc = Qt desktop app for reading news headlines from RSS feeds
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/CSHeHu/newscraper
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = qt6-base
	depends = gcc-libs
	depends = glibc
	backup = etc/newscraper/config.json
	source = newscraper-0.3.0.tar.gz::https://github.com/CSHeHu/newscraper/archive/v0.3.0.tar.gz
	sha256sums = 4035dacab650c74e60b7deaa657c507ab0ee5a8f980c79f15b2e71a0d904093c

pkgname = newscraper
